h1 Заглавна страница
p Тя трябва много добре да комуникира идеята на сайта и да мотивира потребителите да се регистрират

= link_to 'Създай своята сервизна книжка', signup_path, class: 'btn btn-primary btn-lg'