h3 ПОЛИТИКА ЗА СЪБИРАНЕ И СЪХНРАНЕНИЕ НА ЛИЧНИ ДАННИ

p Доставчикът на услугата електронна сервизна книжка Carpass.BG (КАРПАСС ДЗЗД, код по БУЛСТАТ 177023767) създава политика за събираните от дружеството лични данни както следва:

p Съгласно общото разбиране за лични данни, Доставчикът събира единствено предоставените от Ползвателите адреси на електронни пощи, като същите не се верифицират от Доставчика и за последния предоставените подобни данни имат единствено за цел да създаде идентификатор за Ползвателя с цел вход в системата.

p Доставчикът изпраща нотификации (електронни съобщения) до Ползвателите на услугата по електронна поща, ако същата е реална, действаща, не е закрита и представлява реален адрес за получаване на съобщения. Ако Ползвателя е предоставил на Доставчика недействителен електронен адрес (поща), то Доставчикът не доставя съобщения за настъпили събития до Ползвателя (като изтекла застраховка, технически преглед или друг вид данни със срок на изтичане). Още повече, Доставчикът е предоставил опция всеки Ползвател да управлява доставяните до него съобщения.

p Доставчикът използва предоставените от Ползвателя лични данни (електронна поща) единствено с цел идентификация в системата (вход). Доставчикът не обработва, предава, продава или управлява личните данни на Ползвателите си, както и не ги предоставя (предава, продава или предоставя) на трети страни.

p Доставчикът е предоставил опция на Ползвателя да бъде изцяло забравен (изтрит) от системата.

p Доставчикът не съхранява извън системата си никаква информация относно данните на Ползвателите, като съща така не се съхраняват архив на информацията в/извън системата, поради което Доставчикът не предлага опция за възстановяване на данни волно или неволно изтрити от Ползвателя.

p Ако Ползвателят използва опцията за вход в системата чрез профил от друга платформа (като Facebook, Google, Apple, т.н.), Доставчикът съхранява единствено адресът на електронната поща на Ползвателя с цел идентификация при вход.

p Въведените от Ползвателя данни в системата относно регистрационен номер на автомобил, марка, модел, номер на шаси, номер на двигател, застраховки, изминати километри, стойност на събитието и т.н. не се третират от Доставчика като лични данни, но последния прилага същия принцип към тях, както и към личните данни на Ползвателя.

p Политиката за лични данни на Доставчика влиза в сила от 25.06.2020 г., като всички принципи описани в Политиката са прилагани и преди създаването ѝ и влизането ѝ в сила.
