h3 ОБЩИ УСЛОВИЯ ЗА ПОЛЗВАНЕ УСЛУГИТЕ НА AUTOBOOK.BG

h4 I. ПРЕДМЕТ
p чл. 1. Настоящите общи условия са предназначени за регулиране на отношенията между AUTOBOOK.BG, наричано по-долу за краткост ДОСТАВЧИК, и потребителите, наричани по-долу ПОЛЗВАТЕЛИ, на предоставяната от него услуги на информационното общество, наричани по-долу УСЛУГАТА.

h4 ІІ. ДАННИ ЗА ДОСТАВЧИКА

p чл. 2. Информация съгласно Закона за електронната търговия и Закона за защита на потребителите:
ol
  li Наименование на Доставчика: Autobook.bg
  li Данни за кореспонденция: autobook.bg@gmail.com
  li Надзорни органи: (1) Комисия за защита на личните данни Адрес: гр. София,ул. "Иван Евстатиев Гешов" № 15, тел.: (02) 940 20 46 факс: (02) 940 36 40 Email: kzld@government.bg, kzld@cpdp.bg Уеб сайт: www.cpdp.bg (2) Комисия за защита на потребителите Адрес: 1000 гр.София, пл."Славейков" №4А, ет.3, 4 и 6, тел.: 02 / 980 25 24 факс: 02 / 988 42 18 гореща линия: 0700 111 22 Уеб сайт: www.kzp.bg

h4 III. ХАРАКТЕРИСТИКИ НА УСЛУГАТА

p чл. 3. Услугата, предоставяна от Доставчика на Ползвателя представлява услуга на информационното общество по смисъла на Закона за електронната търговия. Основните характеристики на Услугата са следните:
ul
  li Регистрация на сайта и поддържане на потребителска регистрация;
  li Създаване и поддържане на електронна сервизна книжка;
  li Доброволно въвеждане на данни за притежавано/и МПС.

p чл. 4. Доставчикът предоставя, а Ползвателите използват Услугата, съгласно параметрите, обявени на страницата на Доставчика в Интернет.

h4 IV. ЦЕНА НА УСЛУГАТА
p чл. 5. (1) Доставчикът предоставя Услугата срещу възнаграждение, дължимо от Ползвателя съгласно избрания от него абонаментен план, когато Услугата се предоставя възмездно.
p (2) Информация за различните параметри на Услугата е достъпна на страницата на Доставчика в Интернет.

p чл. 6. (1) Ползвателят заплаща цената на Услугата съобразно определеното от Доставчика в страницата му в Интернет, когато Услугата се предоставя възмездно..
p (2) Доставчикът потвърждава получаването на плащането чрез активиране на Услугата и чрез друго подходящо потвърждение по електронен път.

h4 V. ПРЕДОСТАВЯНЕ НА УСЛУГАТА И ТЕХНИЧЕСКИ СТЪПКИ ЗА СКЛЮЧВАНЕ НА ДОГОВОРА

p чл. 7 (1) Настоящите общи условия се прилагат както към услуги, за които се изисква регистрация, така и за такива, за които не се изисква регистрация.
p (2) За да използва Услугата, Ползвателят следва да въведе избрана от него парола за отдалечен достъп.
p (3) Паролата за отдалечен достъп се определя от Ползвателя, чрез извършване на онлайн регистрация в страницата на Доставчика в Интернет, съобразно посочената в нея и настоящите общи условия процедура.
p (4) С попълване на данните си и натискане на бутоните "Да, приемам", "Регистрация" или друго изявление в смисъл на съгласие, Ползвателят декларира, че е запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава безусловно да ги спазва.
p (5) Доставчикът потвърждава извършената от Ползвателя регистрация, чрез изпращане на писмо на посочен от Ползвателя електронен адрес, на който се изпращат и информация за активиране на регистрацията. Получателят потвърждава регистрацията и сключването на договора чрез електронна препратка в писмото, с което е уведомен за извършената регистрация, изпратено от Доставчика.След потвърждаването се създава акаунт на Ползвателя и между него и Доставчика възникват договорни отношения.
p (6) При извършване на регистрацията Ползвателят се задължава да предостави верни и актуални данни. Ползвателят своевременно да актуализира данните, посочени в регистрацията си, в случай на промяна.
p (7) В случай че за регистрация на Ползвателя за ползване на услугата се използва профил в уеб социални мрежи или други мрежи, страна по договора е лицето, което е титуляр на използвания за регистрацията профил в съответната социална или друга мрежа. В този случай Доставчикът има право на достъп до данните, необходими за идентифициране на Ползвателя в съответната социална или друга мрежа.

p чл. 8. (1) Ползвателите използват предимно интерфейса на Интернет страницата на Доставчика, за извършване на електронни изявления в отношенията помежду им.
p (2) Договорът се сключва на български език. 4

p (3) Договорът между Доставчика и Ползвателя представлява настоящите общи условия, достъпни на адрес: https://www.autobook.bg/terms, заедно с всички изменения и допълнения в тях.
p (4) Страна по договора с Доставчика е Ползвателят на Услугата съгласно данните, предоставени при регистрацията и съдържащи се в личния профил на Ползвателя. За избягване на съмнение това са данните, с които е създаден акаунт при Доставчика.
p (5) Доставчикът включва в интерфейса на Интернет страницата си, технически средства за установяване и поправяне на грешки при въвеждането на информация, преди да бъде направено изявлението за сключване на договора.
p (6) Този договор се счита за сключен от момента на извършване на регистрация на Ползвателя при Доставчика. В случай че Услугата се заявява за ползване след извършване на регистрацията, договорът за използването й се счита за сключен от момента на заявяването й от Ползвателя чрез интерфейса на Доставчика.
p (7) За сключването на този договор и за сключването на договора за използване на Услугата, Доставчикът изрично уведомява Ползвателя по подходящ начин чрез електронни средства.
p (8) В случай, че Услугата се използва без извършване на регистрация от Ползвателите, договорът за използването й се счита за сключен от момента на първото й използване от Ползвателя. В този случай настоящите общи условия имат действия от момента на първото използване на услугата от Ползвателя до момента на преустановяване на използването й.
p (9) Изявлението за сключване на договора и потвърждението за неговото получаване се смятат за получени, когато техните адресати имат възможност за достъп до тях.

p чл. 9. (1) Ползвателят има право да използва Услугата добросъвестно и по предназначение.
p (2) При използването на Услугата, Ползвателят не трябва да използва софтуер, скриптове, програмни езици или други технологии, които биха могли да създадат затруднения в ползването й от другите ползватели.
p (3) Ползвателят се задължава да не използва Услугата в противоречие с приложимото законодателство.

p чл. 10. Ползвателят осигурява самостоятелно оборудването за достъп до Услугата и нейното управление.

p чл. 11. (1) С оглед повишаване качеството на Услугата, извършване на профилактика, отстраняване на повреди и други свързани с това дейности, Доставчикът има право временно да ограничи или преустанови предоставянето на услугата.
p (2) В случаите по ал. 1, Доставчикът е задължен своевременно да възстанови предоставянето на услугата след отпадане на обстоятелството, което е причина за преустановяването.

p чл. 12. (1) Доставчикът предприема мерки за защита на личните данни на Ползвателя съгласно Закона за защита на личните данни.
p (2) От съображения за сигурност на личните данни на Ползвателите, Доставчикът ще изпрати данните само на e-mail адрес, който е бил посочен от Ползвателите в момента на регистрацията.
p (3) Доставчикът приема и обявява на сайта си Политика за защита на личните данни, отразена в чл. 21 от настоящите общи условия. Ползвателят се съгласява с Политиката за защита на личните данни на Доставчика.
p (4) Получателят се съгласява, че Доставчикът има право да обработва личните му данни съгласно Политиката му за защита на личните данни.

p чл. 13. (1) Във всеки момент преди, по време или след предоставяне на Услугата, Доставчикът има право да изисква от Ползвателя да се легитимира и да удостовери достоверността на всяко едно от обявените по време на регистрацията обстоятелства и лични данни.
p (2) В случай, че по някаква причина Ползвателят е забравил или изгубил своите име и парола, Доставчикът има право да приложи обявената "Процедура за забравени имена и пароли", достъпна на адрес https://www.autobook.bg/resetpw

h4 VI. ИЗМЕНЕНИЕ И ДОСТЪП ДО ОБЩИТЕ УСЛОВИЯ

p чл. 14. (1) Настоящите общи условия могат да бъдат изменяни от Доставчика, за което последният ще уведоми по подходящ начин всички регистрирани Ползватели на услугата.
p (2) Доставчикът и Ползвателят се съгласяват, че всяко допълване и изменение на тези общи условия ще има действие спрямо Ползвателя след изричното му уведомяване от Доставчика и ако Ползвателят не заяви в предоставения му 14-дневен срок, че ги отхвърля.
p (3) Ползвателят се съгласява, че всички изявления на Доставчика, във връзка с изменението на тези общи условия ще бъдат изпращани на адреса на електронната поща, посочена от Ползвателя, при регистрацията за използване на Услугата. Ползвателят на Услугата се съгласява, че електронните писма, изпратени по реда на този член не е необходимо да бъдат подписани с електронен подпис, за да имат действие спрямо него.
p (4) Ползвателите, които използват Услугата без регистрация приемат новите общи условия от момента на използването след промяната им, без изрично уведомление за промяната.

h4 VII. ПРЕКРАТЯВАНЕ

p чл. 15. Договорът за предоставяне на Услугата се прекратява:
ul
  li с изтичане на срока на договора, съгласно избрания от Ползвателя период на предоставяне на Услугата;
  li с прекратяване на регистрацията на Ползвателя за ползване на Услугата;
  li при прекратяване и обявяване в ликвидация или обявяване в несъстоятелност на една от страните по договора;
  li по взаимно съгласие на страните в писмен вид;
  li едностранно с предизвестие от всяка от страните в случай на неизпълнение на задълженията на другата страна;
  li при обективна невъзможност на някоя от страните по договора да изпълнява задълженията си;
  li при изземване или запечатване на оборудването от държавни органи;
  li в случаите по чл. 9, ал. 3 от тези общи условия;

p чл. 16. Доставчикът има право по свое усмотрение, без да отправя предизвестие да прекрати едностранно договора, в случай че установи, че предоставяните услуги се използват в нарушение на настоящите общи условия, законодателството в Република България и общоприетите нравствени норми.

h4 VIII. ДРУГИ УСЛОВИЯ

p чл. 17. Евентуалната недействителност на някоя от разпоредбите на тези общи условия няма да води до недействителност на целия договор.

p чл. 18. За неуредените в този договор въпроси, свързани с изпълнението и тълкуването на този договор, се прилагат законите на Република България.

p чл. 19. Всички спорове между страните по този договор ще бъдат разрешавани от компетентния съд или Комисията за защита на потребителите.

p чл. 20. Настоящите общи условия влизат в сила за всички Ползватели на 01.04.2016 г.
p чл. 21. Политиката на Доставчика по опазване защитата на личните данни ще бъде обявена единствено ако Доставчикът включи и събора от Ползвателя на Услугата лични данни. Всички данни събирани от Доставчика към настоящия момент не представляват лични данни по смисъла на Закона за защита на личните данни.