h1 Autobook.bg става Carpass.bg
p Здравейте!
p От днес сайтът Autobook.bg ще бъде достъпен под ново име и уеб адрес - Carpass.bg.
p Всичко останало остава същото.
br
= link_to 'www.carpass.bg', root_url, class: 'btn'
