strong Случвало ли се е нещо ново с колата ти?
div Повече от 2 месеца не са въвеждани данни за автомобил с регистрационен номер #{notification.notifiable.plate}. Има ли нещо което си пропуснал да добавиш?
