strong Изтичащ "Годишен технически преглед"
div На #{notification.history.valid_until.strftime("%d.%m.%Y")} изтича "Годишен технически преглед" на автомобил с регистрационен номер #{notification.car.plate}.
