h2 Изтичащa застраховка "Гражданска отговорност"
div На #{notification.history.valid_until.strftime("%d.%m.%Y")} изтича застраховка "Гражданска отговорност" на автомобил с регистрационен номер #{notification.car.plate}.

br

= button_to 'Повече информация', read_notification_path(notification), method: :patch, class: 'btn btn-primary', form: { target: '_blank' }
