h2 Недовършена регистрация
div Все още не си довършил регистрацията си в Carpass.bg. Направи това сега като добавиш първата си кола.

br

= button_to 'Добави кола', read_notification_path(notification), method: :patch, class: 'btn btn-primary', form: { target: '_blank' }
