.landingpage__selling-points {
  margin-bottom: 20px;

  .selling-point {
    color: #ffffff;
  }

  .selling-point__title {
    font-size: 20px;
  }

  .selling-point__description {
    font-size: 14px;
  }
}
