h1 Случвало ли се е нещо ново с колата ти?
div Вече повече от 2 месеца не са въвеждани данни за автомобил с номер #{@car.plate}. Има ли нещо което си пропуснал да добавиш?
br
= link_to "Данни за #{@car.plate}", car_url(@car), class: 'btn'
